<div class="popup-container" *ngIf="visible">
    <div class="popup-content">
      <div class="popup-header">
        <strong>Advertência:</strong>
        <button class="close-button" (click)="close()">X</button>
      </div>
      <p>
        O atleta Magrinho da equipe Man.City B, foi punido com Advertência por atitude antidesportiva na partida realizada no 18/02/25.
      </p>
      <p>
        Lembrando sempre, que é um campeonato de pais cuja ideia é o espírito de confraternização entre os participantes.
      </p>
      <p>
        Atenciosamente,<br>
        Direção da categoria B
      </p>
    </div>
  </div>
  