<nav class="navbar">
  <div class="logo">
    <img src="assets/img/Boneco_apamaiao.jpeg" alt="Logo Apamaião" class="logo-img" />
    <div>
      <h2>Campeonato de Pais e Mestres do Abel</h2>
      <p style="font-size: x-small; color: whitesmoke;">Atualizado 18/03/2026</p>
    </div>
  </div>

  <!-- BOTÃO MOBILE -->
  <div class="menu-btn" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <!-- MENU -->
  <div class="menu" [ngClass]="{ 'show': isMenuOpen }">
    <div class="menu-links">
      <!-- <button mat-button (click)="openListaA()">Lista A</button>
      <button mat-button (click)="openListaB()">Lista B</button> -->
      <button mat-button routerLink="/home">Home</button>
      <button mat-button (click)="openRegulamento()">Regulamento</button>

      <button mat-button [routerLink]="'/categoria-a'" [matMenuTriggerFor]="serieAMenu">Categoria A</button>
      <mat-menu #serieAMenu="matMenu"></mat-menu>

      <button mat-button [routerLink]="'/categoria-b'" [matMenuTriggerFor]="serieBMenu">Categoria B</button>
      <mat-menu #serieBMenu="matMenu"></mat-menu>

      <button mat-button (click)="openJogosA()">Tabela de Jogos A</button>
      <button mat-button (click)="openJogosB()">Tabela de Jogos B</button>
      <button mat-button (click)="Mandante()">Uniformes Mandante</button>
      <button mat-button (click)="Visitante()">Uniformes Visitante</button>
    </div>
  </div>
</nav>