<app-componets></app-componets>
<div class="padrao">
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel" [style.transform]="'translateX(' + translateX + '%)'">
        <div class="carousel-item" *ngFor="let patrocinador of patrocinadores">
          <img [src]="patrocinador.src" [alt]="patrocinador.alt" />
        </div>
      </div>
    </div>
  </div>


<mat-card>
  <mat-card-header class="header-campeonato">
  <div class="header-container-coluna">

    <!-- 🔹 Título -->
    <h1 class="titulo-principal">Campeonato 2026</h1>

    <!-- 🔹 DIV CENTRALIZADA (mantida) -->
    <div class="convite-container">
      <h2>Lista do Campeonato 2026</h2>

      <div class="botoes-lista">
        <button
          mat-raised-button
          color="accent"
          (click)="openListaA()"
        >
          A
        </button>

        <button
          mat-raised-button
          color="accent"
          (click)="openListaB()"
        >
          B
        </button>
      </div>
    </div>

    <!-- 🔹 IMAGENS LADO A LADO -->
    <div class="imagens-container">
      <img
        src="assets/img/JogosMataMataA.jpg"
        alt="Campeão Categoria A"
        class="imagem-campeao"
      />

      <img
        src="assets/img/JogosMataMataB.jpg"
        alt="Campeão Categoria B"
        class="imagem-campeao"
      />
    </div>

  </div>
</mat-card-header>

  </mat-card>
</div>