/* Estilo geral */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}
table {
  width: 60%;/* Reduz a largura da tabela */
  margin: 0 auto; /* Centraliza a tabela */
  table-layout: fixed; /* Faz com que as colunas tenham o mesmo tamanho */
}

th, td {
  padding: 4px; /* Reduz o espaçamento das células */
  text-align: center; /* Alinha o conteúdo ao centro */
}

mat-table {
  transform: scale(0.8); /* Escala a tabela para reduzir seu tamanho geral */
  transform-origin: top center; /* Garante que a tabela seja escalada a partir do topo */
}


.padrao {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%; /* Ajuste para telas menores */
  max-width: 1200px; /* Limita a largura máxima */
}

.Patrocinadores {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.carousel-container {
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.patrocinador {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.patrocinador:hover {
  transform: scale(1.05);
}

.patrocinador img {
  max-width: 100%;
  max-height: 100%;
}

.conteudo {
  margin: 0 auto;
  padding: 20px;
  width: 80%; /* Ajuste para telas menores */
  max-width: 1200px;
}

.tabela-e-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.tabela {
  flex: 1;
  max-width: 90%; /* Ajuste para responsividade */
  min-width: 300px;
  margin: 0 auto;
  // border: 2px solid darkgreen;
  // border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid darkgreen;
  border-radius: 5px;
}

.card {
  flex: 1;
  max-width: 80%; /* Ajuste para responsividade */
  min-width: 230px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.card.jogos {
  max-width: 80%; /* Ajuste para telas menores */
  overflow: hidden; /* Remove a barra de rolagem */

  text-align: center;
  margin: 20px auto;
  border: 2px solid darkgreen;
  border-radius: 5px;
  padding-right: 10px;
  
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.times-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem a linha */
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 2000px;
  margin: 0 auto;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: transparent;

}
.card-borda-Artilharia {
  border: 2px solid darkgreen; /* Definindo borda verde */
  border-radius: 5px; /* Mantém borda arredondada, como outras divs */
  padding: 15px; /* Adiciona um pouco de espaço interno */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para melhorar a visualização */
  background-color: #fff; /* Cor de fundo branca */
}


.suspenso {
  background-color: red !important;
  color: white !important; /* Texto branco para melhor contraste */

  
}


.table-container {
  width: 90%; /* Defina um tamanho fixo para garantir a disposição correta */
  max-height: 750px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid darkgreen;
  border-radius: 5px;
  margin: 0 auto;
}


/* Estilo para Tablets */
@media (max-width: 1024px) {
.largura-tabela th,
.largura-tabela td {
    width: 90%;
    text-align: center;
}

/* Aumenta a largura da coluna de nome */
.largura-tabela .first-column {
    width: 40%; /* Ajuste conforme necessário */
    text-align: left;
}

/* Diminui a largura das outras colunas */
.largura-tabela th:nth-child(n+2),
.largura-tabela td:nth-child(n+2) {
    width: 15%; /* Ajuste conforme necessário */
}
}

/* Estilo para Celulares */
@media (max-width: 768px) {
.largura-tabela .first-column {
    width: 30%; /* Coluna de nomes maior em telas menores */
    text-align: left;
}

.largura-tabela th:nth-child(n+2),
.largura-tabela td:nth-child(n+2) {
    width: 20%; /* Colunas reduzidas igualmente */
    font-size: 18px;
}


.time-table th:not(.nome-column),
.time-table td:not(.nome-column) {
  width: 6%; /* Reduz as outras colunas */
  font-size: 8px;
}
}

/* Estilo para Telas Muito Pequenas */
@media (max-width: 480px) {
.largura-tabela .first-column {
    width: 75%; /* Aumenta ainda mais para telas pequenas */
    text-align: left;
}

.largura-tabela th:nth-child(n+2),
.largura-tabela td:nth-child(n+2) {
    width: 25%; /* Ajuste para colunas menores */
    font-size: 10px; /* Fonte menor para caber na tela */
}
.times-container {
  font-size: 10px; /* Fonte menor para caber na tela */
}
.time-table th:not(.nome-column),
.time-table td:not(.nome-column) {
    width: 17%; /* Outras colunas bem pequenas */
    font-size: 12px;
    text-align: center;
}
}

.borda {
  border: 2px solid darkgreen;
  border-radius: 5px;
  /* Caso deseje manter um espaçamento interno */
  padding: 10px;
}

.suspensao-row {
  background-color: red !important;
  color: white !important; /* Texto branco para melhor contraste */
  font-weight: bold;
}
.pdf-container {
  overflow: hidden; /* Remove a barra de rolagem */
  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-top: -1%;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .pdf-container {
    height: 100vh;
    width: 80vw;

  }
}

@media (max-width: 480px) {
  .pdf-container {
    height: 80vh;
    width: 80vw;


  }
  .card-borda-Artilharia{
    font-size: 10px;
  }
}

